@model IEnumerable<M_U_Alim_Madrasa.Models.Students>
@{
    ViewData["Title"] = "Index";
}

<h2>Student List</h2>
<br />

<a class="btn btn-primary" asp-action="CreateStudent">Add Student</a>
<br />
<br />
@if (TempData["message"] != null)
{
    <div class="alert alert-info alert-dismissable" role="alert">
        <button class="close" aria-label="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
        @TempData["message"]
    </div>
}
<br />
@if (Model.Count() > 0)
{
    <table class="table table-striped">
        <tr>
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().Name)</th>
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().Roll)</th>
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().Class)</th>
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().Section)</th>
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().Mobile)</th>
            <th>@Html.DisplayNameFor(p => p.FirstOrDefault().Email)</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.Name)</td>
                <td>@Html.DisplayFor(m => item.Roll)</td>
                <td>@Html.DisplayFor(m => item.Class)</td>
                <td>@Html.DisplayFor(m => item.Section)</td>
                <td>@Html.DisplayFor(m => item.Mobile)</td>
                <td>@Html.DisplayFor(m => item.Email)</td>
                <td>
                    <partial name="_TableButtonPartial" model="@item.ID" />
                </td>
            </tr>
        }
    </table>
}
else
{
    <div>not available</div>
}

